/* Color pallete div1 - #5AB2FF | div2- #CAF4FF  */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    font-family: sans-serif;
    background-color: #CAF4FF;
}

.container{
    
    width: 100vw;
    height: 100vh;

    display: flex;

}

.div1{
    background-color: #5AB2FF;
    
    
    width: 50vw;
    height: 100vh;
    
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    
}
.div1:hover{
    cursor: pointer;
    box-shadow: 10px 0px 3px black;
}

.img{
   
    width: auto;
    display: flex;
    
}
.div2{
    
    
    
    background-color: #CAF4FF;
    
    width: 50vw;
    height: 100vh;
    position: relative;

    
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}




h2{
    color: #0e2d49;
    width: 40vw;
    height: 6vh;
    
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    box-sizing: border-box;
    
}

p{
    color: #0e2d49;
    height: 6vh;
    text-align: center;
    font-weight: 600;
}

label{
    font-weight: 600;
    margin-left: 8px;
}

input{
    width: 100%;
    height: 3vh;
    padding: 10px;
}

input{
    border: none;
    border-radius: 10px;
    margin:5px;
    height: 4vh;
}

.forgot{
    color: #0e2d49;
    position: relative;
    margin-left: 82%;
      
}

.btn{
    color: white;
    background-color: #5AB2FF;
    cursor: pointer;
}

.btn:hover{
    opacity: .7;
}